.site-header {
  background-color: #333;
  color: white;
}
blockquote {
    color: #404040;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-style: italic;
}
a.site-title, a.site-title:visited, a.site-nav, a.site-nav:visited {
    color: #e1e1e1;
}
h1, h2, h3, h4, h5 {
    margin-left: -25px;
}
